<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.0.0" targetFramework="net451" />
  <package id="CSharp.StackExchange" version="0.1.4506.12507" targetFramework="net451" />
  <package id="ServiceStack.Common" version="4.5.12" targetFramework="net451" />
  <package id="ServiceStack.Interfaces" version="4.5.12" targetFramework="net451" />
  <package id="ServiceStack.Redis" version="4.5.12" targetFramework="net451" />
  <package id="ServiceStack.Redis.Complete" version="1.0.0" targetFramework="net451" />
  <package id="ServiceStack.Text" version="4.5.12" targetFramework="net451" />
  <package id="Spring.Rest" version="1.1.1" targetFramework="net451" />
  <package id="Spring.Social.Core" version="1.0.1" targetFramework="net451" />
</packages>